body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

/* Home */
#home {
    background-image: url(../C856Prototype/images/homeBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    z-index: 0;
}
#topBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#logo{
    padding: 2px;
    float: left;
    width: auto;
    display: block;
}
#rightTopBar {
    display: block;
    float: right;
    border: none;
    padding: 16px;
}
.navItem {
    padding: 6px 16px;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.navItem:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
#bottomBar{
    position: fixed;
    top: 87%;
    width: 100%;
    padding-bottom: 10px;
    z-index: 1;
}
#bottomBar-left {
    float: left;
}
#bottomBar-right {
    float: right;
}
.socialIcon{
    padding: 10px;
}

/* Attractions */
.subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: scroll;
    position: absolute;
    top: 20%;
}
.subsectionTitle{
    text-align: center;
    font-size: 50px;
}
.selectionContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.selectionButton {
    margin: 10px;
    border-radius: 6px;
}
.attractionsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 20%;
    width: 60%;
    margin-top: 5%;
}
.attractionCard {
    background-color: white;
    color: black;
    width: 100%;
    margin-bottom: 10px;
    display: none;
    border-radius: 10px;
}
.show {
    display: flex;
}
.selectionButton{
    outline: none;
    background-color: #f1f1f1;
    cursor: pointer;
}
.selectionButton:hover{
    transition: all 0.2s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.selectionButton:hover {
    background-color: #ddd;
}
.selectionButton:active {
    background-color: #666;
    color: white;
}
.attractionCardImage{
    width: 350px;
    padding: 10px;
}
.attractionCardTitle{
    font-size: 20px;
}
.attractionCardText{
    width: 300px;
    padding: 10px;
}
.attractionCardHours{
    padding: 10px;
    width: 300px;
    font-size: 16px;
}  
.attractionCardHoursTitle{
    font-size: 20px;
    text-align: center;
}
.hoursContainer{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
.attractionCardHoursDays{
    text-align: left;
    width: 150px;
    padding: 0px;
    margin: 0px;
}
.attractionCardHoursTime{
    text-align: right;
    width: 150px;
    padding: 0px;
    margin: 0px;
}
/* FAQ */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    color: black;
    /* overflow: hidden; */
  }
  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }