body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}
#home {
    background-image: url(../C856Prototype/images/homeBackground.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    padding: 0;
}
#topBar {
    top: 0;
    position: fixed;
    width: 100%;
    height: 6%;
    display: inline-block;
}
#logo{
    padding: 8px 16px;
    float: left;
    width: auto;
    display: block;
}
#rightTopBar {
    display: block;
    float: right;
    width: auto;
    border: none;
    padding: 6px 16px;
}
.navItem {
    padding: 6px 16px;
    font-size: 25px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    color: white;
}
.navItem:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
#bottomBar{
    position: fixed;
    top: 87%;
    width: 100%;
    height: 10%;
    padding-bottom: 10px;
}
#bottomBar-left {
    float: left;
}
#bottomBar-right {
    float: right;
}
.socialIcon{
    padding: 10px;
}

/* Attractions */
.selectionContainer{
    overflow: hidden;
}
.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 200px;
    text-align: center;
    margin: 2px;
    display: none;
}
.show {
    display: block;
}
.selectionButton{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.selectionButton:hover {
    background-color: #ddd;
}
.selectionButton:active {
    background-color: #666;
    color: white;
  }

/* FAQ */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    color: black;
    overflow: hidden;
  }
  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }